/*css reset*/
*{
	padding: 0px;
	margin: 0px;
	
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
	
}
h1{
	font-family: avqest;
	font-size: 3em;
}
/*css reset*/
/*css public*/
.normalText{
	font-size: 1.6em;
}
.flex{
	display: flex;
}
.flex-col{
	flex-direction: column;
}
.flex-row-center{
	justify-content: center;
}
.flex-space-between{
	justify-content: space-between;
}
.flex-speace-around{
	justify-content: space-around;
}
.flex-col-center{
	align-items: center;
}
.img-reverse-x{
	transform: scaleX(-1);
}
.img-reverse-y{
	transform: scaleY(-1);
}
.img-reverse-xy{
	transform: scale(-1,-1);
}
/*css public*/
html{
	font-size: 62.5%;
	/*10px*/
}
body{
	user-select: none;
	background: url(../img/table2.jpg) repeat-y;
	background-size: 100% auto;
}
@font-face {
	font-family:avqest;
	src: url("../fonts/avqest.ttf");
}
.container{
	margin: 5% auto;
	height: 200em;
	width: 60%;
	background: url(../img/background.jpg) repeat-y;
	background-size: 100% auto;
	box-shadow: 0px 0px 20px 10px #000000;
}
/*nav部分*/
.navbar{
	padding-top: 3%;
}
.logo{
	display: inline-block;
	font-size: 6em;
}
.navbar ul li{
	padding: 0 0.3em;
	display: inline-block;
	font-size: 3em;
}
.navbar a{
	position: relative;
	font-family: avqest;
	transition: all 0.2s ease;
}
.navbar a:before{
	position: absolute;
	top: 0;
	left: 0;
	max-width: 0;
	overflow: hidden;
	border-bottom: 5px solid rgb(189,70,72);
	color: red;
	content: attr(data-hover);
	transition: max-width 0.5s;
}
.navbar a:hover:before{
	max-width: 100%;
}
/*nav部分*/

/*hello部分*/
.hello article{
	padding: 5% 5% 0% 5%;
}
.hello div.right>img{
	width: 30%;
	transition: all 0.5s ease;
}
.hello div.right>img:hover{
	width: 100%;
}
/*hello部分*/

/*work部分*/

/*work部分*/