<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />
		<script src="/js/jquery-2.0.3.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.content {
				height: 400px;
			}
		</style>
		<title>hero!</title>
	</head>
	<body>
		<!--测试-->
		<!--<div id="test">
			点击按钮。
		</div>
		<button id="btn" class="btn btn-info">点我测试</button>-->
		<!--测试结束-->
		<!-- <img src="/!uploadFiles/01.jpg" alt=""> -->
		<div class="container">
			<div class="row">
				<div class="col-md-1">
					<button class="btn btn-default active" id="xie">写文章</button>
					<button class="btn btn-default" id="guanli">管文章</button>
				</div>
				<div class="col-md-10">
					<form id="form">
						<!--写文章表格-->
						<div class="form-group">
							<label for="biaoti">文章标题</label>
							<input name="biaoti" type="text" class="form-control" id="biaoti" placeholder="请输入标题">
						</div>
						<div class="form-group">
							<span>文章分类</span>
							<select class="form-control" id="fenlei">
								<option>css</option>
								<option>js</option>
								<option>node</option>
							</select>
							<span>文章正文</span>
							<div class="form-control content" id="zhengwen"></div>
						</div>
						<button type="submit" class="btn btn-default" id="fabu">发文章</button>
						<button type="submit" class="btn btn-default" id="caogao">存草稿</button>
					</form>
					<div class="list-group hidden" id="allwenzhang">
						<!--<a href="#" class="list-group-item">文章1
							<button class="btn btn-default text-right">发布</button>
							<button class="btn btn-default text-right">修改</button>
						</a>-->
					</div>
				</div>
			</div>
		</div>
		<script src="/js/wangEditor.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">//创建编辑器
			var E = window.wangEditor;
			var editor = new E("#zhengwen");
			// editor.customConfig.uploadImgShowBase64 = true;//显示上传图片按钮，插入图片
			editor.customConfig.uploadImgServer = '/upload';//显示上传图片按钮，上传图片，不能与base64共存。
			editor.customConfig.uploadImgHooks = {//用于在控制台显示失败或成功的结果。
				fail: function(xhr, editor, result){
					console.log(result);
				},
				success: function(xhr, editor, result){
					console.log(result);
				}
			}
			editor.customConfig.debug = true;//用于在控制台显示失败信息
			editor.create();
		</script>
		<script type="text/javascript">
			$("#xie").click(function() {//写文章
				$(this).addClass("active");
				$("#guanli").removeClass("active");
				$("#form").show();
				$("#allwenzhang").addClass("hidden");
			});
			$("#guanli").click(function() {//管文章
				$(this).addClass("active");
				$("#xie").removeClass("active");
				$("#form").hide();
				$("#allwenzhang").removeClass("hidden").empty();
				// var allFenlei = [];
				// for (var i = 0; i < $("#fenlei").children().length; i++) {
				// 	allFenlei.push( $("#fenlei").children()[i].innerHTML );
				// }
				$.get("/showAll",
					// {fenleis: allFenlei}, 
					function(data) {//切换到管文章页面之后，发送AJAX请求文章列表
					console.log(data);
                    data.forEach(function(element) {
						$('<a href = "javascript:void(0);"></a>').addClass("list-group-item").text(element.biaoti).appendTo( $("#allwenzhang") );
//						console.log(element);
//						element.forEach(function(ele){
//							console.log(ele.biaoti)
//							$('<a href = "javascript:void(0);"></a>').addClass("list-group-item").text(ele.biaoti).appendTo( $("#allwenzhang") );
//						});
                    });
                    $('<a href = "javascript:void(0);"></a>').addClass("btn btn-info xiugai").text("修改").appendTo( $("#allwenzhang > a") );
                    $('<a href = "javascript:void(0);"></a>').addClass("btn btn-info shanchu").text("删除").appendTo( $("#allwenzhang > a") );
				});
			});

			$("#allwenzhang").on("click", ".xiugai", //事件代理
				function(e) {
					$.get("/xiugai", {"biaoti" : e.target.previousSibling.nodeValue}, function(data){
						console.log(data);//查找到该标题对应的文章。
					});
				}
			);
			$("#allwenzhang").on("click", ".shanchu", //事件代理
				function(e) {
					$.get("/shanchu", {"biaoti" : e.target.previousSibling.previousSibling.nodeValue}, function(data){
						console.log(data);//查找到该标题对应的文章。
					});
				}
			);
			$("#fabu").click(function(e){//发布文章，editor.txt.html()获取内容；editor.txt.txt()获取纯文本
				e.preventDefault();
				var url = "/fabu",
					data = {
						"biaoti" : $("#biaoti").val(),
						"fenlei" : $("#fenlei").val(),
						"zhengwen" : editor.txt.html()
					};
				$.post(url, data, function(data){
					console.log(data);
				});
			});
			$("#caogao").click(function(e){//存草稿
				e.preventDefault();
				var biaoti = $("#biaoti").val(),
					fenlei = $("#fenlei").val(),
					zhengwen = editor.txt.html();
				console.log(biaoti, fenlei, zhengwen);	
			});

			// $.post("/newwenzhang", function(data){
            //     console.log(data);
            // });

			// 测试代码
			// $("#btn").click(function(){
			// 	$.get("/xiugai", function (data) {
			// 		console.log(data[0].zhengwen);
			// 		$("#test").html(data[0].zhengwen);;
			// 	});
			// });
			// 测试代码结束
		</script>
	</body>

</html>