<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css" />
		<script src="/js/jquery-2.0.3.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.content {
				height: 400px;
			}
		</style>
		<title>hero!</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-1">
					<button class="btn btn-default active" id="xie">写文章</button>
					<button class="btn btn-default" id="guanli">管文章</button>
				</div>
				<div class="col-md-10">
					<form id="form">
						<!--写文章表格-->
						<div class="form-group">
							<label for="biaoti">文章标题</label>
							<input name="biaoti" type="text" class="form-control" id="biaoti" placeholder="请输入标题">
						</div>
						<div class="form-group">
							<span>文章分类</span>
							<select class="form-control" id="fenlei">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
							<span>文章正文</span>
							<div class="form-control content" id="zhengwen"></div>
						</div>
						<button type="submit" class="btn btn-default" id="fabu">发文章</button>
						<button type="submit" class="btn btn-default" id="caogao">存草稿</button>
					</form>
					<div class="list-group hidden" id="allwenzhang">
						<a href="#" class="list-group-item">文章1
							<button class="btn btn-default text-right">发布</button>
							<button class="btn btn-default text-right">修改</button>
						</a>
						<a href="#" class="list-group-item">文章2</a>
						<a href="#" class="list-group-item">文章3</a>
						<a href="#" class="list-group-item">文章4</a>
						<a href="#" class="list-group-item">文章5</a>
					</div>
				</div>
			</div>
		</div>
		<script src="/js/wangEditor.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">//创建编辑器
			var E = window.wangEditor;
			var editor = new E("#zhengwen");
			editor.customConfig.uploadImgShowBase64 = true;//显示上传图片按钮，插入图片
//			editor.customConfig.uploadImgServer = '/upload';//显示上传图片按钮，上传图片，不能与base64共存。
			editor.create();
		</script>
		<script type="text/javascript">
			$("#xie").click(function() {//写文章
				$(this).addClass("active");
				$("#guanli").removeClass("active");
				$("#form").show();
				$("#allwenzhang").addClass("hidden");
			});
			$("#guanli").click(function() {//管文章
				$(this).addClass("active");
				$("#xie").removeClass("active");
				$("#form").hide();
				$("#allwenzhang").removeClass("hidden").empty();
				$.get("/showAll", function(data) {//切换到管文章页面之后，发送AJAX请求文章列表
					console.log(data);
                    data.forEach(function(element) {
                        console.log(element.biaoti);
                        $('<a href = "#"></a>').addClass("list-group-item").text(element.biaoti).appendTo( $("#allwenzhang") );
                    });
				});

			});
			$("#allwenzhang>a").click(
				function(e) {
					e.preventDefault();
					$.get("/xiugai", function(){
						console.log(1);
					});
				}
			);
			$("#fabu").click(function(e){//发布文章，editor.txt.html()获取内容；editor.txt.txt()获取纯文本
				e.preventDefault();
				var url = "/fabu",
					data = {
						"biaoti" : $("#biaoti").val(),
						"fenlei" : $("#fenlei").val(),
						"zhengwen" : editor.txt.html()
					};
				$.post(url, data, function(){
					alert("已提交到服务器！");
				});
			});
			$("#caogao").click(function(e){//存草稿
				e.preventDefault();
				var biaoti = $("#biaoti").val(),
					fenlei = $("#fenlei").val(),
					zhengwen = editor.txt.html();
				console.log(biaoti, fenlei, zhengwen);	
			});

			// $.post("/newwenzhang", function(data){
            //     console.log(data);
            // });
		</script>
	</body>

</html>