<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<base target="_blank" />
		<title>文章列表</title>
		<script src="/js/jquery-2.0.3.js"></script>
		<!--<script src="/js/fixedNav.js" type="text/javascript" charset="utf-8"></script>-->
		<link rel="stylesheet" href="/css/articles.css">
	</head>
	<body>
		<div class="container"><!--container start-->
			<!--navbar start-->
			<header class="navbar">
				<nav class="flex flex-speace-around flex-col-center">
					<a class="logo" href="http://www.herosanctuary.com/" data-hover = "Sanctuary">Sanctuary</a>
					<ul>
						<li><a href="/css" data-hover="CSS">CSS</a></li>
						<li><a href="/js" data-hover="Javascript">Javascript</a></li>
						<li><a href="/node" data-hover="NodeJs">NodeJs</a></li>
						<!--<li><a href="" data-hover="Alt">Alt</a></li>-->
						<!--<li><a href="" data-hover="Alt">Alt</a></li>-->
					</ul> 
				</nav>
			</header>
			<div class="navAlt"></div>
			<!--navbar end-->

			<!--正文-->
			<section class="art_all">
				<article class="flex flex-col">
					<header class="bg"></header>
					<div class="flex flex-col-center flex-col">
						<ul id="css">
							<li>CSS</li>
							<!-- <li><a href="">文章1</a></li> -->
						</ul>
						<ul id="js">
							<li>JavaScript</li>
							<!-- <li><a href="">文章1</a></li> -->
						</ul>
						<ul id="node">
							<li>NodeJs</li>
							<!-- <li><a href="">文章1</a></li> -->
						</ul>
					</div>
					<footer class="img-reverse-y bg"></footer>
				</article>
			</section>
			<!--正文-->
		</div>
		<script>
			$.get("/showAll", function(data){
				console.log(data);
				data.forEach(function(ele, index, arr) {
					switch (ele.fenlei) {
						case "css":
							$('<li><a href="http://127.0.0.1/articles?biaoti=' + ele.biaoti + '">' + ele.biaoti + '</a></li>').appendTo( $('#css') );
							break;
						case "js":
							$('<li><a href="">' + ele.biaoti + '</a></li>').appendTo( $('#js') );
							break;
						case "node":
							$('<li><a href="">' + ele.biaoti + '</a></li>').appendTo( $('#node') );
							break;
					}
				}, this);
			});
		</script>
	</body>
</html>
