<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<base target="_blank" />
		<title>庇护之地</title>
		<script src="../public/js/jquery-2.0.3.js"></script>
		<script src="../public/js/fixedNav.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="../public/css/knowledge.css">
	</head>
	<body>
		<div class="container"><!--container start-->
			<!--navbar start-->
			<header class="navbar">
				<nav class="flex flex-speace-around flex-col-center">
					<a class="logo" href="" data-hover = "Sanctuary">Sanctuary</a>
					<ul>
						<li><a href="" data-hover="Top">Top</a></li>
						<li><a href="" data-hover="Me">Me</a></li>
						<li><a href="" data-hover="Achievemrnts">Achievemrnts</a></li>
						<li><a href="" data-hover="Knowledge">Knowledge</a></li>
						<li><a href="" data-hover="Contact">Contact</a></li>
					</ul> 
				</nav>
			</header>
			<div class="navAlt"></div>
			<!--navbar end-->

			<!--正文-->
			<section class="zhengwen">
				<article class="flex flex-col">
					<header class="bg"></header>
					<div class="">
						<h1>文章大标题</h1>
						<h2>副标题1</h2>
						<h3>副标题2</h3>
						<p class="normalText">
							文章内容
						</p>
					</div>
					<footer class="img-reverse-y bg"></footer>
				</article>
			</section>
			<!--正文-->
	
			<!--正文-->
			<section class="pinglun">
				<article class="flex flex-col">
					<header class="bg"></header>
					<div class="">
						<h1>评论</h1>
						<form action="/pinglun" method="post" class="">
							<label for="name">Your name:<input type="text" name="name" id="name" /></label>
							<label for="p_content" class="specialText">You saying:<textarea name="p_content" rows="10" cols="10" id="p_content"></textarea></label>
							<button class="specialText">Say</button>
							<button class="specialText">Clear</button>
						</form>
						<div id="p_list" class="p_list">
							<ul>
								<li>
									<h2>4545</h2>
									<p class="normalText">
										为什么这里是container而不是XXX呢？为什么这里是container而不是XXX呢？为什么这里是container而不是XXX呢？
									</p>
								</li>
								<li>
									<h2>4545</h2>
									<p class="normalText">
										为什么这里是container而不是XXX呢？为什么这里是container而不是XXX呢？为什么这里是container而不是XXX呢？
									</p>
								</li>
								<li>
									<h2>4545</h2>
									<p class="normalText">
										为什么这里是container而不是XXX呢？为什么这里是container而不是XXX呢？为什么这里是container而不是XXX呢？
									</p>
								</li>
								<li>
									<h2>4545</h2>
									<p class="normalText">
										为什么这里是container而不是XXX呢？为什么这里是container而不是XXX呢？为什么这里是container而不是XXX呢？
									</p>
								</li>
							</ul>
						</div>
					</div>
					<footer class="img-reverse-y bg"></footer>
				</article>
			</section>
			<!--正文-->
	
	
	
	
	
		</div><!--container end-->
		<!--目录开始-->
		<div class="fix n_pub n_disappear" id="note">
			<span class="n_switch"></span>
			<ul>
				<li>a乌拉拉</li>
				<li>b法师对法师</li>
				<li>c案发士大夫噶啥</li>
				<li>d是打发点</li>
				<li>e是豆腐干</li>
			</ul>
			<ul>
				<li>|</li>
				<li>转到评论</li>
				<li>|</li>
				<li>回到顶部</li>
				<li>|</li>
			</ul>
		</div>
		<!--目录结束-->
		
		<script src="../public/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(".n_switch").mouseenter(function(){
				$(this).addClass("n_switch_off");
				$("#note").removeClass("n_disappear").addClass("n_appear");
				$("#note").mouseleave(function(){
					$("#note").addClass("n_disappear").removeClass("n_appear");
					$(".n_switch").removeClass("n_switch_off");
				});
			});
		</script>
	</body>
</html>
