<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<base target="_blank" />
		<title></title>
		<script src="/js/jquery-2.0.3.js"></script>
		<!--<script src="/js/fixedNav.js" type="text/javascript" charset="utf-8"></script>-->
		<link rel="stylesheet" href="/css/knowledge.css">
	</head>
	<body>
		<div class="container"><!--container start-->
			<!--navbar start-->
			<header class="navbar">
				<nav class="flex flex-speace-around flex-col-center">
					<a class="logo" href="http://www.herosanctuary.com" data-hover = "Sanctuary">Sanctuary</a>
					<ul>
						<li><a href="/css" data-hover="CSS">CSS</a></li>
						<li><a href="/js" data-hover="Javascript">Javascript</a></li>
						<li><a href="/node" data-hover="NodeJs">NodeJs</a></li>
						<!--<li><a href="" data-hover="Alt">Alt</a></li>-->
						<!--<li><a href="" data-hover="Alt">Alt</a></li>-->
					</ul> 
				</nav>
			</header>
			<div class="navAlt"></div>
			<!--navbar end-->

			<!--正文-->
			<section class="zhengwen">
				<article class="flex flex-col">
					<header class="bg"></header>
					<div class="">
						<h1 id="zw_h1"></h1>
						<!-- <h2>副标题1</h2> -->
						<!-- <h3>副标题2</h3> -->
						<p class="normalText" id="zw_p">
							
						</p>
					</div>
					<footer class="img-reverse-y bg"></footer>
				</article>
			</section>
			<!--正文-->
	
			<!--正文-->
			<section class="pinglun">
				<article class="flex flex-col">
					<header class="bg"></header>
					<div class="">
						<h1>评论</h1>
						<form method="post" id="pinglun">
							<label for="name">Your name:<input type="text" name="name" id="name" /></label>
							<label for="p_content" class="specialText">You saying:<textarea name="p_content" rows="10" cols="10" id="p_content"></textarea></label>
							<button class="specialText" id="say">Say</button>
							<button class="specialText" id="clear">Clear</button>
						</form>
						<div id="p_list" class="p_list">
							<ul>
								<!-- for comments -->
							</ul>
						</div>
					</div>
					<footer class="img-reverse-y bg"></footer>
				</article>
			</section>
			<!--正文-->
	
		<div class="success_stage">
			<div class="success_container">
				<div class="success_content">
					<h2>评论成功！</h2>
				</div>
			</div>
		</div>
	
	
		</div><!--container end-->
		<!--目录开始-->
		<div class="fix n_pub n_disappear" id="note">
			<span class="n_switch"></span>
			<!-- <ul> -->
				<!-- <li><a href="">a乌拉拉</a></li> -->
			<!-- </ul> -->
			<ul>
				<li>|</li>
				<li><a href="javascript:void(0);">转到评论</a></li>
				<li>|</li>
				<li><a href="">回到顶部</a></li>
				<li>|</li>
			</ul>
		</div>
		<!--目录结束-->
		
		<!--<script src="/js/index.js" type="text/javascript" charset="utf-8"></script>-->
		<script type="text/javascript">
			function parseQueryString(url) {
				var json = {};
				var arr = url.substr(url.indexOf('?') + 1).split('&');
				arr.forEach(function(item) {
					var tmp = item.split('=');
					json[tmp[0]] = tmp[1];
				});
				return json;
			}
			var json = parseQueryString( decodeURI(window.location.search) );//用decodeURI对网址解码，不然是乱码。
			var PL = {//评论功能包
				content: undefined,
				push: function(pl, callback){
					$.post("/pinglun", pl, function(data){
						callback(data);
					});
				},
				get: function(json, callback){
					$.get("/showPL", json, function(data){
						callback(data);
					});
				}
				//还需要评论反馈的方法，这里做一个动画。
				
			};
			$("#say").click(function(){
				$("#pinglun").submit(function(){return false;});
				PL.content = $.extend({}, json, {
					userName: $("#name").val(),
					content: $("#p_content").val()
				});
				PL.push(PL.content, function(data){
					// console.log(data);
					if (data == 1) {//评论成功
						$("#p_list ul").empty();
						PL.get(json, function(data){//获取评论
							data.forEach(function(ele, index, data) {
								var $li = $("<li></li>");
								var $h2 = $("<h2></h2>").html(ele.userName).appendTo($li);
								var $p = $("<p></p>", {"class":"normalText"}).html(ele.content).appendTo($li);
								$li.prependTo( $("#p_list ul") );
							}, this);
							// console.log(data);
						});
					} else {//评论失败
						
					}
				});
			});
			$.get("/showCertain", json, function(data){
				$("#zw_h1").text(data[0].biaoti);
				$("title").text(data[0].biaoti);
				$("#zw_p").html(data[0].zhengwen);
				var allH2 = $("#zw_p").find("h2");
				//一个ul存放5个li，要先判断要生成几个ul，用向上取整。判断完之后用两层循环嵌套，生成ul。
				var k = 0;
				for (var j = 0; j < Math.ceil(allH2.length/5); j++) {
					$("<ul></ul>").insertBefore( $("#note").find("ul:last") );
					for (var i = 0; i < 5; i++) {
						var element = allH2[k];
						var $a = $('<a></a>', {"href":"javascript:void(0);"}).html(element.innerHTML);
						var $li = $('<li></li>').append($a).appendTo( $("#note").find("ul:last").prev() );
						k = k + 1;
						if (k === allH2.length) {//到达最大数目，跳出循环。
							break;
						}
					}
				}
			});
			PL.get(json, function(data){//获取评论
				data.forEach(function(ele, index, data) {
					var $li = $("<li></li>");
					var $h2 = $("<h2></h2>").html(ele.userName).appendTo($li);
					var $p = $("<p></p>", {"class":"normalText"}).html(ele.content).appendTo($li);
					$li.prependTo( $("#p_list ul") );
				}, this);
				console.log(data);
			});
			$(".n_switch").mouseenter(function(){//切换目录
				$(this).addClass("n_switch_off");
				$("#note").removeClass("n_disappear").addClass("n_appear");
				$("#note").mouseleave(function(){
					$("#note").addClass("n_disappear").removeClass("n_appear");
					$(".n_switch").removeClass("n_switch_off");
				});
			});
		</script>
	</body>
</html>
