/*css reset*/
*{
	padding: 0px;
	margin: 0px;
	
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
h1{
	font-family: avqest;
	font-size: 4em;
}
h2{
	font-family: avqest;
	font-size: 3em;
	padding-left: 10px;
}
h3{
	font-family: avqest;
	font-size: 2em;
	padding-left: 20px;
}
form{
	padding: 0 60px 0 20px;
	border: 1px solid #000000;
}
label{
	display: block;
	font-family: avqest;
	font-size: 3em;
	cursor: pointer;
}
input,textarea{
	display: block;
	width: 100%;
	font-family: avqest;
}
textarea{
	height: 80px;
}
input{
	height: 30px;
}
button{
	font-size: 3em;
	width: 30%;
}
textarea{
	display: block;
}
.p_list ul li{
	padding-top: 10px;
}
/*css reset*/
/*css public*/
.normalText{
	font-size: 2em;
	padding: 0 60px 0 30px;
}
.specialText{
	font-family: avqest;
}
.flex{
	display: flex;
}
.flex-col{
	flex-direction: column;
}
.flex-wrap{
	flex-wrap: wrap;
}
.flex-basis100{
	flex-basis: 100%;
}
.flex-row-center{
	justify-content: center;
}
.flex-space-between{
	justify-content: space-between;
}
.flex-speace-around{
	justify-content: space-around;
}
.flex-col-center{
	align-items: center;
}
.flex-single-center{
	align-self: center;
}
.img-reverse-x{
	transform: scaleX(-1);
}
.img-reverse-y{
	transform: scaleY(-1);
}
.img-reverse-xy{
	transform: scale(-1,-1);
}
.bg{
	background: url(../img/1024border-top.png) no-repeat;
	height: 95px;
	width: 640px;
	margin: 0 auto;
}

/*css public*/

/*新增-针对目录*/
.fix{
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.n_pub ul{
	color: #000000;
	font-size: 2em;
	background: url(../img/note.png) no-repeat;
	background-size: auto 100%;
	padding: 7% 7% 0 7%;
	width: 210px;
	height: 140px;
}
.n_pub a:hover{
	color: #FF0000;
	transition: all 0.3s;
}
/*新增-针对目录*/

html{
	font-size: 55%;
	/*10px*/
}
body{
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background: url(../img/table2.jpg) repeat-y;
	background-size: 100% auto;
}
@font-face {
	font-family:avqest;
	src: url("../fonts/avqest.ttf");
}
.container{
	margin: 5% auto;
	/*height: 150em;*/
	width: 75%;
	background: url(../img/background.jpg) repeat-y;
	background-size: 100% auto;
	box-shadow: 0px 0px 20px 10px #000000;
}

/*nav部分*/
.navbar{
	padding-top: 33px;
	z-index: 99;
}
.logo{
	display: inline-block;
	font-size: 6em;
}
.navbar ul li{
	padding: 0 0.3em;
	display: inline-block;
	font-size: 3em;
}
.navbar a{
	position: relative;
	font-family: avqest;
	transition: all 0.2s ease;
}
.navbar a:before{
	position: absolute;
	top: 0;
	left: 0;
	max-width: 0;
	overflow: hidden;
	border-bottom: 5px solid rgb(189,70,72);
	color: red;
	content: attr(data-hover);
	transition: max-width 0.5s;
}
.navbar a:hover:before{
	max-width: 100%;
}
/*nav部分*/


.container>section article{
	padding: 5% 5% 0% 5%;
}
/*评论成功的动画*/
.success_stage{
	/*margin: 0 auto;*/
	 display: none; 
	width: 30%;
	height: 30%;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	margin: auto;
	z-index: 99;
	perspective: 800px;
}
.success_container{
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}
@keyframes rotate{
	0%{
		transform: translateY(-50%) rotateY(90deg);
	}
	15%{
		transform: translateY(-50%) rotateY(0deg);
	}
	20%{
		transform: translateY(-50%) rotateY(-20deg);
	}
	25%{
		transform: translateY(-50%) rotateY(0deg);
	}
	100%{
		transform: translateY(-50%) rotateY(0deg);
	}
}
.animate{
	animation: rotate 1s linear 0s 2 alternate;
	  /* animation-fill-mode: both;     */
}
.success_content{
	position: relative;
	top: 50%;
	transform: translateY(-50%) rotateY(90deg); 
	width: 100%;
	height: 50%;
	background-color: lightyellow;
	border-radius: 20%;
	box-shadow: 5px 0px 10px #000000;
}
.success_content h2{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 0;
}
/*评论成功的动画*/
@media only screen and (min-width: 1600px){
	html{
		font-size: 62.5%;
	}
	.bg{
		background: url(../img/1600border-top.png) no-repeat;
		height: 196px;
		width: 924px;
	}
	.n_pub ul{
		width: 242px;
		height: 162px;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1199px){
	html{
		font-size: 49%;
	}
	.bg{
		background: url(../img/1024border-top.png) no-repeat;
		height: 95px;
		width: 640px;
	}
	.n_appear ul{
		transition: all 0.2s ease-out;
	}
	.n_disappear ul{
		transform: translateX(230px);
		transition: all 0.2s ease-out;
	}
	.n_pub ul{
		padding: 5% 2% 0 7%;
		width: 242px;
		height: 120px;
	}
	.fix{
		right: -5%;
	}
	.n_switch{
		z-index: 99;
		position: absolute;
		top: 50%;
		right: 65px;
		transform: translateY(-50%) rotate(0deg);
		display: inline-block;
		width: 50px;
		height: 63px;
		background: url(../img/sprites.png);
		transition: all 0.2s ease-in-out;
	}
	.n_switch_off{
		top: 100%;
		transform: translateY(-50%) rotate(90deg);

	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
	html{
		font-size: 49%;
	}
	.bg{
		display: none;
		background: none;
		height: 95px;
		width: 640px;
	}
	.container{
		margin: 0;
		/*height: 150em;*/
		width: 100%;
		background: url(../img/background.jpg) repeat-y;
		background-size: 100% auto;
		box-shadow: none;
	}
	body{
		-webkit-user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		user-select: none;
		background: none;
		/*background-size: 100% auto;*/
	}
	.n_appear ul{
		transition: all 0.2s ease-out;
	}
	.n_disappear ul{
		transform: translateX(230px);
		transition: all 0.2s ease-out;
	}
	.n_pub ul{
		padding: 5% 2% 0 7%;
		width: 242px;
		height: 120px;
	}
	.fix{
		right: -5%;
	}
	.n_switch{
		z-index: 99;
		position: absolute;
		top: 50%;
		right: 65px;
		transform: translateY(-50%) rotate(0deg);
		display: inline-block;
		width: 50px;
		height: 63px;
		background: url(../img/sprites.png);
		transition: all 0.2s ease-in-out;
	}
	.n_switch_off{
		top: 100%;
		transform: translateY(-50%) rotate(90deg);

	}
	.navbar a:before{
		border-bottom: 3px solid rgb(189,70,72);
	}
}

@media only screen and (max-width: 767px){
	html{
		font-size: 40%;
	}
	.bg{
		display: none;
		background: none;
		height: 95px;
		width: 640px;
	}
	.container{
		margin: 0;
		/*height: 150em;*/
		width: 100%;
		background: url(../img/background.jpg) repeat-y;
		background-size: 100% auto;
		box-shadow: none;
	}
	body{
		-webkit-user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		user-select: none;
		background: none;
		/*background-size: 100% auto;*/
	}
	#note{
		display: none;
	}
	.n_appear ul{
		transition: all 0.2s ease-out;
	}
	.n_disappear ul{
		transform: translateX(230px);
		transition: all 0.2s ease-out;
	}
	.n_pub ul{
		padding: 5% 2% 0 7%;
		width: 242px;
		height: 120px;
	}
	.fix{
		right: -5%;
	}
	.n_switch{
		z-index: 99;
		position: absolute;
		top: 50%;
		right: 65px;
		transform: translateY(-50%) rotate(0deg);
		display: inline-block;
		width: 50px;
		height: 63px;
		background: url(../img/sprites.png);
		transition: all 0.2s ease-in-out;
	}
	.n_switch_off{
		top: 100%;
		transform: translateY(-50%) rotate(90deg);

	}
	.navbar ul li:nth-child(1),
	.navbar ul li:nth-child(2),
	.navbar ul li:nth-child(3),
	.navbar ul li:nth-child(5){
		display: none;
	}
	.navbar a:before{
		border-bottom: 2px solid rgb(189,70,72);
	}
	.navbar ul li{
		padding: 0;
	}
	.navbar ul{
		border-left: 3px solid rgb(0,0,0);
	}
}